<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>興趣何倫碼測驗結果</title>
</head>
<body bgcolor="#FFECEC">
    <h1 align="center">興趣何倫碼測驗結果</h1>
    <img src="C:/personal-webpage/static/ucan.jpg" width="500" style="display:block; margin:auto;">
    <br /><br />
    <div style="border-width: 3px ; width: 250px; height: 70px ; padding: 5px; text-align: center; background-color: rgb(41, 105, 176, 0.7);border-radius: 4px;">

        <span style="color: rgb(255, 255, 255); vertical-align:center;>
            我的Holland碼及類型<br /><p>I研究型、R實用型、S社會型</p>
        </span>
    </div>
</body>
</html>