<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>個人網站首頁</title>
</head>
<body bgcolor="#FFECEC">
	<h1 align="center">個人網站</h1>
	<table align="center" border-width:5px border="1" style="border:3px #0080FF solid; padding: 5px;" rules="all" cellpadding='5' ;>
		<tr>
			<td align="center" width=50%>
				<font size="5">自傳履歷</font><br/><br />
				<font size="2">未來規劃&如何充實自己</font>
			</td>

			<td align="center" width=50%>
				<font size="5">興趣何倫碼測驗結果</font><br /><br />
				<font size="2">我的職業性格類型</font>
			</td>
		</tr>
		<tr>
			<td align="center" width=50%>
				<font size="5">MIS相關工作</font><br /><br />
				<font size="2">最有興趣的工作</font>
			</td>

			<td align="center" width=50%>
				<font size="5">查看連結</font><br /><br />
				<font size="2">相關網址</font>
			</td>
		</tr>
	</table>
</body>
</html>