<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>查看連結</title>
</head>
<body bgcolor="#FFECEC">
	<h1 align="center">查看連結</h1>
	<br /><br />
	<center>
		<font size="5">Github:</font>
		<a href="https://github.com/yuying122">https://github.com/yuying122</a>
	</center>

	<br /><br />
	<center>
		<font size="5">Vercel:</font>
		<a href="https://vercel.com/yys-projects-e0e84fa1">https://vercel.com/yys-projects-e0e84fa1</a>
	</center>

	<br /><br />
	<center>
		<font size="4">UCAN大專院校就業職能平台:</font>
		<a href="https://ucan.moe.edu.tw/Account/Login.aspx">https://ucan.moe.edu.tw/Account/Login.aspx</a>
	</center>

</body>
</html>